<h4>Child Component</h4>

<p>Counter Value: @CounterValue</p>

<button @onclick="Close">Close</button>

@code {
    [Parameter]
    public int CounterValue { get; set; }

   [Parameter]
    public EventCallback OnClose { get; set; }
    public ChildComponent1()
    {
        
    }

    protected override async Task OnInitializedAsync()
    {
        // Initialization logic
        Console.WriteLine("ChildComponent Initialized");
    }

    protected override async Task OnParametersSetAsync()
    {
        // Parameter set logic
        Console.WriteLine("ChildComponent Parameters Set");
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        // After render logic
        Console.WriteLine("ChildComponent After Render");
    }

    ~ChildComponent1()
    {
        // Dispose logic
        Console.WriteLine("ChildComponent Disposed");
    }

    private async Task Close()
    {
        await OnClose.InvokeAsync();
    }
}