<h3>MyFirstComponent</h3>
<div>
    <h2>This is my first component</h2>

    <h3> One way binding  </h3>
    <h4> Counter value @counter</h4>

    <MySecondComponent CounterValue=@counter/>
</div>
@code {
    
      private int counter = 178;
  
}
