@page "/parent"

<h3>ParentComponent</h3>


<button @onclick="IncrementCounter">Increment Counter</button>

<ChildComponent CounterValue="@counterValue" />

@code {
    private int counterValue;
    private Timer timer;
    public ParentComponent()
    {
        
    }
    protected override async Task OnInitializedAsync()
    {
        // Initialization logic
        Console.WriteLine("ParentComponent Initialized");
    }

    protected override async Task OnParametersSetAsync()
    {
        // Parameter set logic
        Console.WriteLine("ParentComponent Parameters Set");
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        // After render logic
        Console.WriteLine("ParentComponent After Render");
    }

    ~ParentComponent()
    {
        Console.WriteLine("ParentComponent Disposed");
    }
    // protected override async Task DisposeAsync()
    // {
    //     // Dispose logic
       
    // }

    private void IncrementCounter()
    {
        counterValue++;
        StateHasChanged(); // Notify Blazor to re-render the component
    }
}